body {
    background-color: #f8f8f8;
}

.btn-outline-primary {
    color: #f25c05;
    border-color: #f25c05;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #f25c05;
    border-color: #f25c05;
}

.form-check-input:checked {
    background-color: #f25c05;
    border-color: #f25c05;

}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 1px #f25c05, 0 0 0 0.2rem rgba(242, 92, 5, 0.25);
}

.form-control {
    border-color: #f25c05;
    outline-color: #f25c05;
    background-color: #fff3ee;

}